@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;800&display=swap');


:root {
    --ff-main: Gemunu Libre;
    --fw-main: 800;

    
}


*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gemunu Libre, sans-serif;
    font-weight: var(--fw-main);
}

body {
    margin: 0;
    padding: 0;
    background-color: #1F1308;
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid> button {
    cursor: pointer;
    border-radius: 2px;
    font-size: 2rem;
    border: 2px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
    background-color:rgba(255, 255, 255, .9) ;
}
.span-two {
    grid-column: span 2;
}

.output {
    grid-column:  1 / -1;
    background-color: #FFCF00;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: #007D07;
    font-size: 1.4rem;
}

.output .current-operand {
    color: #CF0400;
    font-size: 3rem;
}